<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="FXTrader.ExternalAdapter.TradingService" behaviorConfiguration="Default" >
        <endpoint binding="netTcpBinding" bindingConfiguration="ultra"
          contract="FXTrader.ExternalAdapter.ITradingService" />
        <endpoint address="mex"
          binding="mexTcpBinding"
          contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/FXTrader" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="ultra" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false" transactionFlow="false">
          <!-- maxConnections="2147483647" listenBacklog="2147483647" -->         
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport protectionLevel="None" clientCredentialType="None"/>
          </security>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="TradingService.txt"/>
      <param name="AppendToFile" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level][%d{yy-MM-dd HH:mm:ss,fff}] [%thread] [%class{1}] %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!-- ================== -->
    <!-- Performance Tuning -->
    <add key="PriceTickIntervalInMilliseconds" value="1000"/>
    
    <!-- Simulate long pricing -->
    <add key="PriceLongOperationTimeInMilliseconds" value="-1"/> <!-- default to -1 i.e. turn off simulation -->
    <add key="TradeLongOperationTimeInMilliseconds" value="-1"/> <!-- default to -1 i.e. turn off simulation -->

    <!-- Raw Price Statistics Paramaters -->
    <add key="LogRawPriceStatistics" value="false"/> <!-- defaults to false-->
    <add key="RawPriceStatisticsReadIntervalInMilliseconds" value="500"/>
    
    <!-- Raw Spot Logging Parameters -->
    <add key="LogRawSpotPriceLogging" value="false"/> <!-- defaults to false-->
    <add key="RawSpotPriceLoggingThrottleInMilliseconds" value="0"/> <!-- defaults to 0 i.e. do not throttle-->
    
    <!-- Log Responses-->
    <add key="LogPriceResponse" value="true"/> <!-- defaults to true -->
    <add key="LogPriceStatisticsResponse" value="false"/> <!-- defaults to true -->
        
    <!-- Performance Tuning -->
    <!-- ================== -->
    
    <!-- Business config-->
    <add key="SalesMarkupInPips" value="1000"/>
    <add key="AuthorizedClients" value="Bilbos,Phantom,Delta,Theta,Gamma,Vega,Rho,UTS"/>
  </appSettings> 
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
